.button {
    display: flex;
    width: 270px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin: auto;
    margin-top: 15px;
    flex-direction: column;
    background-color: var(--light-blue);
    align-items: center;
}

.buttonText {
    display: flex;
    color: white;
    font-weight: bold;
}